<div class="sidebar fadeInDown delay_1s">

	<aside class="widget widget-newsletter">
		<h2 class="widget-title">{{@blog.title}} Newsletter</h2>
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
			<form action="{{! Add your form action URL }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
					<label for="mce-EMAIL">Subscribe here to get our latest updates</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</div>
			</form>
		</div>
		<!--End mc_embed_signup-->
	</aside><!-- .widget -->

	<aside class="widget widget-text">
		<h2 class="widget-title">About {{@blog.title}}</h2>
		<p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Donec sed lacus id tortor iaculis iaculis dignissim eget justo. Maecenas posuere eros nisl, ut pharetra turpis faucibus a. In imperdiet urna mattis lacus mollis, sit amet pulvinar purus vehicula.</p>
	</aside><!-- .widget -->

	<aside class="widget widget-text">
		<p><a href="{{! Add your banner ad URL}}"><img src="{{asset "images/banner.jpg"}}" alt="Optional Banner Ad" /></a></p>
	</aside><!-- .widget -->

	<aside class="widget widget-recent-posts">
		<h2 class="widget-title">Latest Posts</h2>
		<div class="recent-posts"></div>
	</aside><!-- .widget -->

	<aside class="widget widget-tags">
		<h2 class="widget-title">Tags</h2>
		<div class="tagcloud"></div>
	</aside><!-- .widget -->
	
</div><!-- .sidebar -->
